<% provide(:title, "Log in") %>
<h1 class="title">Log in</h1>

<div class="row form-group">
  <div class="col-md-6 col-md-offset-3 m-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, class: "mt-3" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, class: "mt-3" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me do %>
      <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-success btn-lg btn-block mt-3 mb-3" %>
      
    <% end %>

    <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
  </div>
</div>
